body{
  background:url("https://getmyuni.azureedge.net/college-images-test/padmashree-dr-dy-patil-university-pddypu-mumbai/829aa0e1a7db4eff93d15b4f7e0a681f.jpeg");
 background-size: cover;
}
img{
float: right;
position: relative;
right:100px;
top:25px;
}
h1{
 text-align: center;
 position: relative;
 top: 200px;
}